@{
    ViewData["Title"] = "Contact Us";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Contact Us</h1>
        <p class="lead">Let us know what you think about our catalog!</p>
    </div>
</div>